<a href="https://colab.research.google.com/github/marcocastroo/Algoritmo/blob/main/atividade5_exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numero = int(input("Digite um número inteiro: "))

if numero < 0:
  print(numero + 100)
else:
  print("Número inteiro")

Digite um numéro inteiro: -1
99

In [ ]:
codigo = int(input("Digite um código curso: "))

if codigo == 1:
  print("Técnico em Informática Subsequente")
elif codigo == 2:
  print("Técnico em Informática EJA")
elif codigo ==3:
  print("Técnico em Cooperatismo")
elif codigo == 4:
  print("Técnico em Cooperatismo EJA")
elif codigo == 5:
  print("Licenciatura em Física")
else:
  print("Atenção! código inválido")

Digite um código curso: 1
Técnico em Informática Subsequente

In [19]:
string1 = "Brasil Hexa 2006"
string2 = "Brasil! Hexa 2006!"

res1 = len(string1) == len(string2)

print(res1)

False

In [9]:
string1 = "Brasil Hexa 2006"
string2 = "Brasil! Hexa 2006!"

res2 = (string1 == string2)

print(res2)

False

In [18]:
b = "0123456789"

print(b[2:-2])

234567